dataframe = 2D data, Series = 1D data
we can print without the print function ex:print(df), we can directly just say df

In [ ]:
# Read a CSV file into a DataFrame
# dataframe means data in tabular form/2d structure 
import pandas as pd

df = pd.read_csv('student_data.csv')
print(df)
print(type(df))

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# access a specific column from the DataFrame
import pandas as pd

df = pd.read_csv('student_data.csv')
student_id = df['StudentID']
print(student_id)
print(type(student_id))

0     PH1001
1     PH1002
2     PH1003
3     PH1004
4     PH1005
5     PH1006
6     PH1007
7     PH1008
8     PH1009
9     PH1010
10    PH1011
11    PH1012
12    PH1013
13    PH1014
14    PH1015
15    PH1016
16    PH1017
17    PH1018
18    PH1019
19    PH1020
Name: StudentID, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
# read excel file
import pandas as pd

df = pd.read_excel('phitron_student_marks.xlsx')
print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [2]:
# read parquet file
import pandas as pd
df = pd.read_parquet('students.parquet')
print(df)
print(type(df))

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
<class 'pandas.core.frame.DataFrame'>

In [3]:
# read json file

import pandas as pd
df = pd.read_json('data.json')
print(df)

  StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001       Alif Rahman                    85               85
1    PH1002     Fatima Akhter                    92               92
2    PH1004  Jannatul Ferdous                    78               78

   Python Marks
0            88
1            90
2            82

In [5]:
# display first or last few rows of the DataFrame
import pandas as pd

df = pd.read_csv('student_data.csv')
print(df.head())  # Default is 5 rows
print(df.head(3))  # First 3 rows

print(df.tail())  # Default is 5 rows
print(df.tail(2))  # Last 2 rows

  StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001       Alif Rahman                  85.0             85.0
1    PH1002     Fatima Akhter                  92.0             92.0
2    PH1003     Imran Hossain                  88.0             88.0
3    PH1004  Jannatul Ferdous                  78.0             78.0
4    PH1005       Kamal Uddin                   NaN              NaN

   Python Marks CompletionStatus EnrollmentDate Instructor    Location
0          88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1           NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2          85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3          82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4          95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
  StudentID       FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001    Alif Rahman                  85.0             85.0
1    PH1002  Fatima Akhter                  92.0             92.0
2    PH1003  Imran Hossain                  88.0             88.0

   Python Marks CompletionStatus EnrollmentDate Instructor    Location
0          88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1           NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2          85.0        Completed     2024-02-10  Mr. Karim       Dhaka
   StudentID      FullName  Data Structure Marks  Algorithm Marks  \
15    PH1016  Ziaur Rahman                  94.0             94.0
16    PH1017   Afsana Mimi                  90.0             90.0
17    PH1018   Babul Ahmed                  88.0             88.0
18    PH1019  Faria Rahman                   NaN              NaN
19    PH1020    Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
   StudentID      FullName  Data Structure Marks  Algorithm Marks  \
18    PH1019  Faria Rahman                   NaN              NaN
19    PH1020    Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [8]:
# display column names of the DataFrame
import numpy as np
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df.columns)

# keep column in np array
col = np.array(df.columns)
print(col)

Index(['StudentID', 'FullName', 'Data Structure Marks', 'Algorithm Marks',
       'Python Marks', 'CompletionStatus', 'EnrollmentDate', 'Instructor',
       'Location'],
      dtype='object')
['StudentID' 'FullName' 'Data Structure Marks' 'Algorithm Marks'
 'Python Marks' 'CompletionStatus' 'EnrollmentDate' 'Instructor'
 'Location']

In [9]:
# total index of the dataframe
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df.index)

RangeIndex(start=0, stop=20, step=1)

In [10]:
# display information about the DataFrame
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentID             20 non-null     object
 1   FullName              20 non-null     object
 2   Data Structure Marks  16 non-null     float64
 3   Algorithm Marks       16 non-null     float64
 4   Python Marks          15 non-null     float64
 5   CompletionStatus      20 non-null     object
 6   EnrollmentDate        20 non-null     object
 7   Instructor            20 non-null     object
 8   Location              20 non-null     object
dtypes: float64(3), object(6)
memory usage: 1.5+ KB
None

In [11]:
# display few samples from the DataFrame
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df.sample(10))  # Default is 1 sample

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
3     PH1004  Jannatul Ferdous                  78.0             78.0
15    PH1016      Ziaur Rahman                  94.0             94.0
4     PH1005       Kamal Uddin                   NaN              NaN
12    PH1013      Tanvir Ahmed                  75.0             75.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
18    PH1019      Faria Rahman                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [ ]:
# display statistical summary of the DataFrame
# will only do statistical calculation for float values as they are calculatable
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df.describe())

       Data Structure Marks  Algorithm Marks  Python Marks
count             16.000000        16.000000     15.000000
mean              84.000000        84.000000     85.666667
std                6.501282         6.501282      5.394000
min               72.000000        72.000000     76.000000
25%               79.500000        79.500000     83.000000
50%               85.500000        85.500000     85.000000
75%               88.250000        88.250000     88.500000
max               94.000000        94.000000     95.000000

In [ ]:
# convert list,tuple to dataframe

import pandas as pd
my_list = [["Alice", 25], ["Bob", 30], ["Charlie", 35 ]]
df = pd.DataFrame(my_list)

print(type(df))
print(df)  # print the dataframe

# change column name
df1 = pd.DataFrame(my_list, columns=["Name", "Age"])
print(df1)

# provide index
df2 = pd.DataFrame(my_list, columns=["Name", "Age"], index=[1,2,3])
print(df2)


# convert dictionary to dataframe
my_dict = {
    "Name": ["Alice", "Bob", "Charlie"], 
    "Age": [25, 30, 35]
    }
df3 = pd.DataFrame(my_dict)
print(df3)


# convert list of dictionary to dataframe
my_list = [
    {"Name": "Alice", "Age": 25 , "City": "New York"}, 
    {"Name": "Bob", "Age": 30 , "City": "London"}, 
    {"Name": "Charlie", "Age": 35}
    ]
df4 = pd.DataFrame(my_list)
print(df4)

<class 'pandas.core.frame.DataFrame'>
      Name  Age
1    Alice   25
2      Bob   30
3  Charlie   35

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35       NaN

In [17]:
# access data at a specific location in the DataFrame , at specific col and specific row
# df.loc[index_start:index_end, col_start:col_end]
import pandas as pd

# display all values at 0 number index
df = pd.read_csv('student_data.csv')
print(df.loc[0])

# display multiple rows
print([df.loc[[2,3,19]]])   #list of index of all the rows that i wanna see


# display multiple rows in a range
print(df.loc[3:10])   #index from 3 to 10


# display all rows of a specific column
print(df.loc[:, "Python Marks"])


# display all rows of multiple columns
print(df.loc[:, ["Python Marks", "Algorithm Marks"]])


# display row and clomns with in a range
print(df.loc[3:10, "CompletionStatus":"Instructor"])

StudentID                    PH1001
FullName                Alif Rahman
Data Structure Marks           85.0
Algorithm Marks                85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Instructor                Mr. Karim
Location                      Dhaka
Name: 0, dtype: object
[   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor Location
2           85.0        Completed     2024-02-10  Mr. Karim    Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma   Sylhet
19          89.0        Completed     2025-10-02  Ms. Salma    Dhaka  ]
   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
0     88.0
1      NaN
2     85.0
3     82.0
4     95.0
5     78.0
6      NaN
7     85.0
8     76.0
9     88.0
10    91.0
11    87.0
12    79.0
13     NaN
14    84.0
15     NaN
16    93.0
17    85.0
18     NaN
19    89.0
Name: Python Marks, dtype: float64
    Python Marks  Algorithm Marks
0           88.0             85.0
1            NaN             92.0
2           85.0             88.0
3           82.0             78.0
4           95.0              NaN
5           78.0             75.0
6            NaN             80.0
7           85.0             81.0
8           76.0             72.0
9           88.0             89.0
10          91.0              NaN
11          87.0             85.0
12          79.0             75.0
13           NaN              NaN
14          84.0             86.0
15           NaN             94.0
16          93.0             90.0
17          85.0             88.0
18           NaN              NaN
19          89.0             86.0
   CompletionStatus EnrollmentDate Instructor
3         Completed     2024-02-12  Ms. Salma
4       In Progress     2024-03-05  Mr. Karim
5         Completed     2024-03-08  Ms. Salma
6       In Progress     2024-04-01  Mr. Karim
7         Completed     2024-04-22  Ms. Salma
8         Completed     2024-05-16  Mr. David
9         Completed     2024-05-20  Ms. Salma
10      In Progress     2024-06-11  Mr. Karim

In [20]:
# replacing default index with certain column
import pandas as pd
df = pd.read_csv('student_data.csv')
print(df)
df_index = df.set_index("StudentID")
print(df_index)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
                   FullName  Data Structure Marks  Algorithm Marks  \
StudentID
PH1001          Alif Rahman                  85.0             85.0
PH1002        Fatima Akhter                  92.0             92.0
PH1003        Imran Hossain                  88.0             88.0
PH1004     Jannatul Ferdous                  78.0             78.0
PH1005          Kamal Uddin                   NaN              NaN
PH1006          Laila Begum                  75.0             75.0
PH1007       Mahmudul Hasan                  80.0             80.0
PH1008          Nadia Islam                  81.0             81.0
PH1009           Omar Faruq                  72.0             72.0
PH1010         Priya Sharma                  89.0             89.0
PH1011         Rahim Sheikh                   NaN              NaN
PH1012      Sadia Chowdhury                  85.0             85.0
PH1013         Tanvir Ahmed                  75.0             75.0
PH1014           Urmi Akter                   NaN              NaN
PH1015         Wahiduzzaman                  86.0             86.0
PH1016         Ziaur Rahman                  94.0             94.0
PH1017          Afsana Mimi                  90.0             90.0
PH1018          Babul Ahmed                  88.0             88.0
PH1019         Faria Rahman                   NaN              NaN
PH1020           Nasir Khan                  86.0             86.0

           Python Marks CompletionStatus EnrollmentDate Instructor    Location
StudentID
PH1001             88.0        Completed     2024-01-15  Mr. Karim       Dhaka
PH1002              NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
PH1003             85.0        Completed     2024-02-10  Mr. Karim       Dhaka
PH1004             82.0        Completed     2024-02-12  Ms. Salma      Sylhet
PH1005             95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
PH1006             78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
PH1007              NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
PH1008             85.0        Completed     2024-04-22  Ms. Salma  Chattogram
PH1009             76.0        Completed     2024-05-16  Mr. David       Dhaka
PH1010             88.0        Completed     2024-05-20  Ms. Salma      Sylhet
PH1011             91.0      In Progress     2024-06-11  Mr. Karim      Khulna
PH1012             87.0        Completed     2024-06-14  Ms. Salma  Chattogram
PH1013             79.0        Completed     2024-07-02  Mr. David       Dhaka
PH1014              NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
PH1015             84.0        Completed     2024-08-18  Mr. Karim       Dhaka
PH1016              NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
PH1017             93.0        Completed     2025-09-01  Mr. Karim       Dhaka
PH1018             85.0        Completed     2025-09-05  Ms. Salma      Sylhet
PH1019              NaN      Not Started     2025-09-15  Mr. David  Chattogram
PH1020             89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [23]:
# displaying rows of newly changed index using iloc
# as index are not numeriacal like the default indexes . we use the iloc
import pandas as pd
df = pd.read_csv('student_data.csv')
df_index = df.set_index("StudentID")

print(df_index.iloc[3:7])
print(df_index.iloc[:, 1:3])

                   FullName  Data Structure Marks  Algorithm Marks  \
StudentID
PH1004     Jannatul Ferdous                  78.0             78.0
PH1005          Kamal Uddin                   NaN              NaN
PH1006          Laila Begum                  75.0             75.0
PH1007       Mahmudul Hasan                  80.0             80.0

           Python Marks CompletionStatus EnrollmentDate Instructor    Location
StudentID
PH1004             82.0        Completed     2024-02-12  Ms. Salma      Sylhet
PH1005             95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
PH1006             78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
PH1007              NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
           Data Structure Marks  Algorithm Marks
StudentID
PH1001                     85.0             85.0
PH1002                     92.0             92.0
PH1003                     88.0             88.0
PH1004                     78.0             78.0
PH1005                      NaN              NaN
PH1006                     75.0             75.0
PH1007                     80.0             80.0
PH1008                     81.0             81.0
PH1009                     72.0             72.0
PH1010                     89.0             89.0
PH1011                      NaN              NaN
PH1012                     85.0             85.0
PH1013                     75.0             75.0
PH1014                      NaN              NaN
PH1015                     86.0             86.0
PH1016                     94.0             94.0
PH1017                     90.0             90.0
PH1018                     88.0             88.0
PH1019                      NaN              NaN
PH1020                     86.0             86.0

In [25]:
# rename columns of the dataframe
import pandas as pd
df = pd.read_csv('student_data.csv')
df.rename(columns={"FullName": "Name", "Algorithm Marks": "Algo Marks"} , inplace=True)  #inplace = True means it will change in the original dataframe
print(df)

   StudentID              Name  Data Structure Marks  Algo Marks  \
0     PH1001       Alif Rahman                  85.0        85.0
1     PH1002     Fatima Akhter                  92.0        92.0
2     PH1003     Imran Hossain                  88.0        88.0
3     PH1004  Jannatul Ferdous                  78.0        78.0
4     PH1005       Kamal Uddin                   NaN         NaN
5     PH1006       Laila Begum                  75.0        75.0
6     PH1007    Mahmudul Hasan                  80.0        80.0
7     PH1008       Nadia Islam                  81.0        81.0
8     PH1009        Omar Faruq                  72.0        72.0
9     PH1010      Priya Sharma                  89.0        89.0
10    PH1011      Rahim Sheikh                   NaN         NaN
11    PH1012   Sadia Chowdhury                  85.0        85.0
12    PH1013      Tanvir Ahmed                  75.0        75.0
13    PH1014        Urmi Akter                   NaN         NaN
14    PH1015      Wahiduzzaman                  86.0        86.0
15    PH1016      Ziaur Rahman                  94.0        94.0
16    PH1017       Afsana Mimi                  90.0        90.0
17    PH1018       Babul Ahmed                  88.0        88.0
18    PH1019      Faria Rahman                   NaN         NaN
19    PH1020        Nasir Khan                  86.0        86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [26]:
# deleting a row from the dataframe
import pandas as pd
df = pd.read_csv('student_data.csv')
df.drop(0, inplace=True)
print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka

In [27]:
# deleting a column from the dataframe
import pandas as pd
df = pd.read_csv('student_data.csv')
df.drop("Instructor", axis=1, inplace=True) # axis=1 means column
print(df)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0     PH1001       Alif Rahman                  85.0             85.0
1     PH1002     Fatima Akhter                  92.0             92.0
2     PH1003     Imran Hossain                  88.0             88.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
4     PH1005       Kamal Uddin                   NaN              NaN
5     PH1006       Laila Begum                  75.0             75.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
8     PH1009        Omar Faruq                  72.0             72.0
9     PH1010      Priya Sharma                  89.0             89.0
10    PH1011      Rahim Sheikh                   NaN              NaN
11    PH1012   Sadia Chowdhury                  85.0             85.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
13    PH1014        Urmi Akter                   NaN              NaN
14    PH1015      Wahiduzzaman                  86.0             86.0
15    PH1016      Ziaur Rahman                  94.0             94.0
16    PH1017       Afsana Mimi                  90.0             90.0
17    PH1018       Babul Ahmed                  88.0             88.0
18    PH1019      Faria Rahman                   NaN              NaN
19    PH1020        Nasir Khan                  86.0             86.0

    Python Marks CompletionStatus EnrollmentDate    Location
0           88.0        Completed     2024-01-15       Dhaka
1            NaN      In Progress     2024-01-20  Chattogram
2           85.0        Completed     2024-02-10       Dhaka
3           82.0        Completed     2024-02-12      Sylhet
4           95.0      In Progress     2024-03-05  Chattogram
5           78.0        Completed     2024-03-08    Rajshahi
6            NaN      In Progress     2024-04-01       Dhaka
7           85.0        Completed     2024-04-22  Chattogram
8           76.0        Completed     2024-05-16       Dhaka
9           88.0        Completed     2024-05-20      Sylhet
10          91.0      In Progress     2024-06-11      Khulna
11          87.0        Completed     2024-06-14  Chattogram
12          79.0        Completed     2024-07-02       Dhaka
13           NaN      Not Started     2024-07-09    Rajshahi
14          84.0        Completed     2024-08-18       Dhaka
15           NaN      In Progress     2024-08-21  Chattogram
16          93.0        Completed     2025-09-01       Dhaka
17          85.0        Completed     2025-09-05      Sylhet
18           NaN      Not Started     2025-09-15  Chattogram
19          89.0        Completed     2025-10-02       Dhaka

In [28]:
# updating a value at specific location
import pandas as pd
df = pd.read_csv('student_data.csv')
df.loc[1, "Python Marks"] = 90
print(df.head())

  StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001       Alif Rahman                  85.0             85.0
1    PH1002     Fatima Akhter                  92.0             92.0
2    PH1003     Imran Hossain                  88.0             88.0
3    PH1004  Jannatul Ferdous                  78.0             78.0
4    PH1005       Kamal Uddin                   NaN              NaN

   Python Marks CompletionStatus EnrollmentDate Instructor    Location
0          88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1          90.0      In Progress     2024-01-20  Ms. Salma  Chattogram
2          85.0        Completed     2024-02-10  Mr. Karim       Dhaka
3          82.0        Completed     2024-02-12  Ms. Salma      Sylhet
4          95.0      In Progress     2024-03-05  Mr. Karim  Chattogram

In [31]:
# updating values at a specific range of locations
import pandas as pd
df = pd.read_csv('student_data.csv')
df.loc[1:3, "Python Marks"] += 2
print(df.head())

  StudentID          FullName  Data Structure Marks  Algorithm Marks  \
0    PH1001       Alif Rahman                  85.0             85.0
1    PH1002     Fatima Akhter                  92.0             92.0
2    PH1003     Imran Hossain                  88.0             88.0
3    PH1004  Jannatul Ferdous                  78.0             78.0
4    PH1005       Kamal Uddin                   NaN              NaN

   Python Marks CompletionStatus EnrollmentDate Instructor    Location
0          88.0        Completed     2024-01-15  Mr. Karim       Dhaka
1           NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
2          87.0        Completed     2024-02-10  Mr. Karim       Dhaka
3          84.0        Completed     2024-02-12  Ms. Salma      Sylhet
4          95.0      In Progress     2024-03-05  Mr. Karim  Chattogram

In [ ]:
# iterate through rows , using the below loop is slow
import pandas as pd
df = pd.read_csv('student_data.csv')

for index, row in df.iterrows():
    print(f"{index}:{row}")

0:StudentID                    PH1001
FullName                Alif Rahman
Data Structure Marks           85.0
Algorithm Marks                85.0
Python Marks                   88.0
CompletionStatus          Completed
EnrollmentDate           2024-01-15
Instructor                Mr. Karim
Location                      Dhaka
Name: 0, dtype: object
1:StudentID                      PH1002
FullName                Fatima Akhter
Data Structure Marks             92.0
Algorithm Marks                  92.0
Python Marks                      NaN
CompletionStatus          In Progress
EnrollmentDate             2024-01-20
Instructor                  Ms. Salma
Location                   Chattogram
Name: 1, dtype: object
2:StudentID                      PH1003
FullName                Imran Hossain
Data Structure Marks             88.0
Algorithm Marks                  88.0
Python Marks                     85.0
CompletionStatus            Completed
EnrollmentDate             2024-02-10
Instructor                  Mr. Karim
Location                        Dhaka
Name: 2, dtype: object
3:StudentID                         PH1004
FullName                Jannatul Ferdous
Data Structure Marks                78.0
Algorithm Marks                     78.0
Python Marks                        82.0
CompletionStatus               Completed
EnrollmentDate                2024-02-12
Instructor                     Ms. Salma
Location                          Sylhet
Name: 3, dtype: object
4:StudentID                    PH1005
FullName                Kamal Uddin
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                   95.0
CompletionStatus        In Progress
EnrollmentDate           2024-03-05
Instructor                Mr. Karim
Location                 Chattogram
Name: 4, dtype: object
5:StudentID                    PH1006
FullName                Laila Begum
Data Structure Marks           75.0
Algorithm Marks                75.0
Python Marks                   78.0
CompletionStatus          Completed
EnrollmentDate           2024-03-08
Instructor                Ms. Salma
Location                   Rajshahi
Name: 5, dtype: object
6:StudentID                       PH1007
FullName                Mahmudul Hasan
Data Structure Marks              80.0
Algorithm Marks                   80.0
Python Marks                       NaN
CompletionStatus           In Progress
EnrollmentDate              2024-04-01
Instructor                   Mr. Karim
Location                         Dhaka
Name: 6, dtype: object
7:StudentID                    PH1008
FullName                Nadia Islam
Data Structure Marks           81.0
Algorithm Marks                81.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2024-04-22
Instructor                Ms. Salma
Location                 Chattogram
Name: 7, dtype: object
8:StudentID                   PH1009
FullName                Omar Faruq
Data Structure Marks          72.0
Algorithm Marks               72.0
Python Marks                  76.0
CompletionStatus         Completed
EnrollmentDate          2024-05-16
Instructor               Mr. David
Location                     Dhaka
Name: 8, dtype: object
9:StudentID                     PH1010
FullName                Priya Sharma
Data Structure Marks            89.0
Algorithm Marks                 89.0
Python Marks                    88.0
CompletionStatus           Completed
EnrollmentDate            2024-05-20
Instructor                 Ms. Salma
Location                      Sylhet
Name: 9, dtype: object
10:StudentID                     PH1011
FullName                Rahim Sheikh
Data Structure Marks             NaN
Algorithm Marks                  NaN
Python Marks                    91.0
CompletionStatus         In Progress
EnrollmentDate            2024-06-11
Instructor                 Mr. Karim
Location                      Khulna
Name: 10, dtype: object
11:StudentID                        PH1012
FullName                Sadia Chowdhury
Data Structure Marks               85.0
Algorithm Marks                    85.0
Python Marks                       87.0
CompletionStatus              Completed
EnrollmentDate               2024-06-14
Instructor                    Ms. Salma
Location                     Chattogram
Name: 11, dtype: object
12:StudentID                     PH1013
FullName                Tanvir Ahmed
Data Structure Marks            75.0
Algorithm Marks                 75.0
Python Marks                    79.0
CompletionStatus           Completed
EnrollmentDate            2024-07-02
Instructor                 Mr. David
Location                       Dhaka
Name: 12, dtype: object
13:StudentID                    PH1014
FullName                 Urmi Akter
Data Structure Marks            NaN
Algorithm Marks                 NaN
Python Marks                    NaN
CompletionStatus        Not Started
EnrollmentDate           2024-07-09
Instructor                Ms. Salma
Location                   Rajshahi
Name: 13, dtype: object
14:StudentID                     PH1015
FullName                Wahiduzzaman
Data Structure Marks            86.0
Algorithm Marks                 86.0
Python Marks                    84.0
CompletionStatus           Completed
EnrollmentDate            2024-08-18
Instructor                 Mr. Karim
Location                       Dhaka
Name: 14, dtype: object
15:StudentID                     PH1016
FullName                Ziaur Rahman
Data Structure Marks            94.0
Algorithm Marks                 94.0
Python Marks                     NaN
CompletionStatus         In Progress
EnrollmentDate            2024-08-21
Instructor                 Ms. Salma
Location                  Chattogram
Name: 15, dtype: object
16:StudentID                    PH1017
FullName                Afsana Mimi
Data Structure Marks           90.0
Algorithm Marks                90.0
Python Marks                   93.0
CompletionStatus          Completed
EnrollmentDate           2025-09-01
Instructor                Mr. Karim
Location                      Dhaka
Name: 16, dtype: object
17:StudentID                    PH1018
FullName                Babul Ahmed
Data Structure Marks           88.0
Algorithm Marks                88.0
Python Marks                   85.0
CompletionStatus          Completed
EnrollmentDate           2025-09-05
Instructor                Ms. Salma
Location                     Sylhet
Name: 17, dtype: object
18:StudentID                     PH1019
FullName                Faria Rahman
Data Structure Marks             NaN
Algorithm Marks                  NaN
Python Marks                     NaN
CompletionStatus         Not Started
EnrollmentDate            2025-09-15
Instructor                 Mr. David
Location                  Chattogram
Name: 18, dtype: object
19:StudentID                   PH1020
FullName                Nasir Khan
Data Structure Marks          86.0
Algorithm Marks               86.0
Python Marks                  89.0
CompletionStatus         Completed
EnrollmentDate          2025-10-02
Instructor               Ms. Salma
Location                     Dhaka
Name: 19, dtype: object

In [33]:
# iterate through rows , using tuple which is a bit faster
import pandas as pd
df = pd.read_csv('student_data.csv')

for i in df.itertuples():
    print(i)

Pandas(Index=0, StudentID='PH1001', FullName='Alif Rahman', _3=85.0, _4=85.0, _5=88.0, CompletionStatus='Completed', EnrollmentDate='2024-01-15', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=1, StudentID='PH1002', FullName='Fatima Akhter', _3=92.0, _4=92.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-01-20', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=2, StudentID='PH1003', FullName='Imran Hossain', _3=88.0, _4=88.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2024-02-10', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=3, StudentID='PH1004', FullName='Jannatul Ferdous', _3=78.0, _4=78.0, _5=82.0, CompletionStatus='Completed', EnrollmentDate='2024-02-12', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=4, StudentID='PH1005', FullName='Kamal Uddin', _3=nan, _4=nan, _5=95.0, CompletionStatus='In Progress', EnrollmentDate='2024-03-05', Instructor='Mr. Karim', Location='Chattogram')
Pandas(Index=5, StudentID='PH1006', FullName='Laila Begum', _3=75.0, _4=75.0, _5=78.0, CompletionStatus='Completed', EnrollmentDate='2024-03-08', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=6, StudentID='PH1007', FullName='Mahmudul Hasan', _3=80.0, _4=80.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-04-01', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=7, StudentID='PH1008', FullName='Nadia Islam', _3=81.0, _4=81.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2024-04-22', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=8, StudentID='PH1009', FullName='Omar Faruq', _3=72.0, _4=72.0, _5=76.0, CompletionStatus='Completed', EnrollmentDate='2024-05-16', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=9, StudentID='PH1010', FullName='Priya Sharma', _3=89.0, _4=89.0, _5=88.0, CompletionStatus='Completed', EnrollmentDate='2024-05-20', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=10, StudentID='PH1011', FullName='Rahim Sheikh', _3=nan, _4=nan, _5=91.0, CompletionStatus='In Progress', EnrollmentDate='2024-06-11', Instructor='Mr. Karim', Location='Khulna')
Pandas(Index=11, StudentID='PH1012', FullName='Sadia Chowdhury', _3=85.0, _4=85.0, _5=87.0, CompletionStatus='Completed', EnrollmentDate='2024-06-14', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=12, StudentID='PH1013', FullName='Tanvir Ahmed', _3=75.0, _4=75.0, _5=79.0, CompletionStatus='Completed', EnrollmentDate='2024-07-02', Instructor='Mr. David', Location='Dhaka')
Pandas(Index=13, StudentID='PH1014', FullName='Urmi Akter', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', EnrollmentDate='2024-07-09', Instructor='Ms. Salma', Location='Rajshahi')
Pandas(Index=14, StudentID='PH1015', FullName='Wahiduzzaman', _3=86.0, _4=86.0, _5=84.0, CompletionStatus='Completed', EnrollmentDate='2024-08-18', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=15, StudentID='PH1016', FullName='Ziaur Rahman', _3=94.0, _4=94.0, _5=nan, CompletionStatus='In Progress', EnrollmentDate='2024-08-21', Instructor='Ms. Salma', Location='Chattogram')
Pandas(Index=16, StudentID='PH1017', FullName='Afsana Mimi', _3=90.0, _4=90.0, _5=93.0, CompletionStatus='Completed', EnrollmentDate='2025-09-01', Instructor='Mr. Karim', Location='Dhaka')
Pandas(Index=17, StudentID='PH1018', FullName='Babul Ahmed', _3=88.0, _4=88.0, _5=85.0, CompletionStatus='Completed', EnrollmentDate='2025-09-05', Instructor='Ms. Salma', Location='Sylhet')
Pandas(Index=18, StudentID='PH1019', FullName='Faria Rahman', _3=nan, _4=nan, _5=nan, CompletionStatus='Not Started', EnrollmentDate='2025-09-15', Instructor='Mr. David', Location='Chattogram')
Pandas(Index=19, StudentID='PH1020', FullName='Nasir Khan', _3=86.0, _4=86.0, _5=89.0, CompletionStatus='Completed', EnrollmentDate='2025-10-02', Instructor='Ms. Salma', Location='Dhaka')

In [ ]:
# sorting based on data of a column

import pandas as pd
df = pd.read_csv('student_data.csv')

# sort in ascending order
copy = df.sort_values("Data Structure Marks")
print(copy)

# sort in descending order
copy = df.sort_values("Data Structure Marks", ascending=False)
print(copy)

# sort multiple columns , first sort based on Data Structure Marks and if any student has same marks in Data Structure Marks then sort based on Python Marks
copy = df.sort_values(["Data Structure Marks", "Python Marks"])
print(copy)

# sorting first column on descending and second column on ascending if any student has same marks in Data Structure Marks
copy = df.sort_values(["Data Structure Marks", "Python Marks"], ascending=[False, True])
print(copy)

   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
8     PH1009        Omar Faruq                  72.0             72.0
5     PH1006       Laila Begum                  75.0             75.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
11    PH1012   Sadia Chowdhury                  85.0             85.0
0     PH1001       Alif Rahman                  85.0             85.0
14    PH1015      Wahiduzzaman                  86.0             86.0
19    PH1020        Nasir Khan                  86.0             86.0
17    PH1018       Babul Ahmed                  88.0             88.0
2     PH1003     Imran Hossain                  88.0             88.0
9     PH1010      Priya Sharma                  89.0             89.0
16    PH1017       Afsana Mimi                  90.0             90.0
1     PH1002     Fatima Akhter                  92.0             92.0
15    PH1016      Ziaur Rahman                  94.0             94.0
4     PH1005       Kamal Uddin                   NaN              NaN
10    PH1011      Rahim Sheikh                   NaN              NaN
13    PH1014        Urmi Akter                   NaN              NaN
18    PH1019      Faria Rahman                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
15    PH1016      Ziaur Rahman                  94.0             94.0
1     PH1002     Fatima Akhter                  92.0             92.0
16    PH1017       Afsana Mimi                  90.0             90.0
9     PH1010      Priya Sharma                  89.0             89.0
17    PH1018       Babul Ahmed                  88.0             88.0
2     PH1003     Imran Hossain                  88.0             88.0
19    PH1020        Nasir Khan                  86.0             86.0
14    PH1015      Wahiduzzaman                  86.0             86.0
11    PH1012   Sadia Chowdhury                  85.0             85.0
0     PH1001       Alif Rahman                  85.0             85.0
7     PH1008       Nadia Islam                  81.0             81.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
5     PH1006       Laila Begum                  75.0             75.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
8     PH1009        Omar Faruq                  72.0             72.0
4     PH1005       Kamal Uddin                   NaN              NaN
10    PH1011      Rahim Sheikh                   NaN              NaN
13    PH1014        Urmi Akter                   NaN              NaN
18    PH1019      Faria Rahman                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
8     PH1009        Omar Faruq                  72.0             72.0
5     PH1006       Laila Begum                  75.0             75.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
11    PH1012   Sadia Chowdhury                  85.0             85.0
0     PH1001       Alif Rahman                  85.0             85.0
14    PH1015      Wahiduzzaman                  86.0             86.0
19    PH1020        Nasir Khan                  86.0             86.0
2     PH1003     Imran Hossain                  88.0             88.0
17    PH1018       Babul Ahmed                  88.0             88.0
9     PH1010      Priya Sharma                  89.0             89.0
16    PH1017       Afsana Mimi                  90.0             90.0
1     PH1002     Fatima Akhter                  92.0             92.0
15    PH1016      Ziaur Rahman                  94.0             94.0
10    PH1011      Rahim Sheikh                   NaN              NaN
4     PH1005       Kamal Uddin                   NaN              NaN
13    PH1014        Urmi Akter                   NaN              NaN
18    PH1019      Faria Rahman                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
   StudentID          FullName  Data Structure Marks  Algorithm Marks  \
8     PH1009        Omar Faruq                  72.0             72.0
12    PH1013      Tanvir Ahmed                  75.0             75.0
5     PH1006       Laila Begum                  75.0             75.0
3     PH1004  Jannatul Ferdous                  78.0             78.0
6     PH1007    Mahmudul Hasan                  80.0             80.0
7     PH1008       Nadia Islam                  81.0             81.0
0     PH1001       Alif Rahman                  85.0             85.0
11    PH1012   Sadia Chowdhury                  85.0             85.0
19    PH1020        Nasir Khan                  86.0             86.0
14    PH1015      Wahiduzzaman                  86.0             86.0
2     PH1003     Imran Hossain                  88.0             88.0
17    PH1018       Babul Ahmed                  88.0             88.0
9     PH1010      Priya Sharma                  89.0             89.0
16    PH1017       Afsana Mimi                  90.0             90.0
1     PH1002     Fatima Akhter                  92.0             92.0
15    PH1016      Ziaur Rahman                  94.0             94.0
4     PH1005       Kamal Uddin                   NaN              NaN
10    PH1011      Rahim Sheikh                   NaN              NaN
13    PH1014        Urmi Akter                   NaN              NaN
18    PH1019      Faria Rahman                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
8           76.0        Completed     2024-05-16  Mr. David       Dhaka
12          79.0        Completed     2024-07-02  Mr. David       Dhaka
5           78.0        Completed     2024-03-08  Ms. Salma    Rajshahi
3           82.0        Completed     2024-02-12  Ms. Salma      Sylhet
6            NaN      In Progress     2024-04-01  Mr. Karim       Dhaka
7           85.0        Completed     2024-04-22  Ms. Salma  Chattogram
0           88.0        Completed     2024-01-15  Mr. Karim       Dhaka
11          87.0        Completed     2024-06-14  Ms. Salma  Chattogram
19          89.0        Completed     2025-10-02  Ms. Salma       Dhaka
14          84.0        Completed     2024-08-18  Mr. Karim       Dhaka
2           85.0        Completed     2024-02-10  Mr. Karim       Dhaka
17          85.0        Completed     2025-09-05  Ms. Salma      Sylhet
9           88.0        Completed     2024-05-20  Ms. Salma      Sylhet
16          93.0        Completed     2025-09-01  Mr. Karim       Dhaka
1            NaN      In Progress     2024-01-20  Ms. Salma  Chattogram
15           NaN      In Progress     2024-08-21  Ms. Salma  Chattogram
4           95.0      In Progress     2024-03-05  Mr. Karim  Chattogram
10          91.0      In Progress     2024-06-11  Mr. Karim      Khulna
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram

In [ ]:
# filtering data based on conditions
import pandas as pd
df = pd.read_csv('student_data.csv')

# filter out data of those students that did not start the course in completion status column
copy = df.loc[df["CompletionStatus"] == "Not Started"]
print(copy)


# filter out students that completed course and have data structure marks greater than 90
copy = df.loc[(df["CompletionStatus"] == "Completed") & (df["Data Structure Marks"] >= 90)]
print(copy)

   StudentID      FullName  Data Structure Marks  Algorithm Marks  \
13    PH1014    Urmi Akter                   NaN              NaN
18    PH1019  Faria Rahman                   NaN              NaN

    Python Marks CompletionStatus EnrollmentDate Instructor    Location
13           NaN      Not Started     2024-07-09  Ms. Salma    Rajshahi
18           NaN      Not Started     2025-09-15  Mr. David  Chattogram
   StudentID     FullName  Data Structure Marks  Algorithm Marks  \
16    PH1017  Afsana Mimi                  90.0             90.0

    Python Marks CompletionStatus EnrollmentDate Instructor Location
16          93.0        Completed     2025-09-01  Mr. Karim    Dhaka